@media screen and (min-width:768px) and (max-width: 992px) {
    body {
        display: flex;
        gap: 10px;
        padding: 10px 30px;
    }

    section {
        width: unset;
    }

    .parte_esquerda{
        min-width: 290px;
        max-width: 290px;
        
    }

    .parte_direita{
        width: 90%;
    }
    
}

@media screen and (min-width:992px){
    
    body {
        display: flex;
        gap: 10px;
        justify-content: center;

    }

    section {
        width: unset;
    }

    .parte_esquerda{
        min-width: 290px;
        max-width: 350px;
        
    }

    .parte_direita{
        width: 80%;
        max-width: 1000px;
    }

    .cada-post-rescent{
        flex-direction: row;
        padding-left: 40px;
    }
}