@media screen and (min-width:768px) and (max-width: 992px) {
    body {
        display: flex;
        gap: 10px;
        padding: 10px 30px;
    }

    section {
        /* width: unset; */
    }

    .parte_esquerda{
        min-width: 290px;
        max-width: 290px;
    }

    .parte_direita{
        width: 90%;
    }
    
    .projetos {
        margin-top: 0px;
    }
    
}

@media screen and (min-width:992px){
    
    body {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    main,section,.meus_projetos,.Post-recents-titulo {
        /* width: unset; */
        margin-bottom: 20px;
    }

    .parte_esquerda{
        min-width: 290px;
        max-width: 350px;
    }

    .parte_direita{
        width: 80%;
        max-width: 1000px;
        margin-right: 20px;
    }

    .projetos {
        margin-top: 0px;
    }

    .area_cada_projeto {
        display: flex;
        gap: 10px;
    }

    .cada_projeto{
        margin: 0px;
        width: 100%;
    }

    .cada-post-rescent{
        flex-direction: row;
        padding-left: 40px;
    }  
    
    .cada-post-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}